<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
<uses-permission android:name="android.permission.INTERNET"/>

<application ...>
    <activity android:name=".MainActivity" android:exported="true">...</activity>
    <activity android:name=".AdminActivity" android:windowSoftInputMode="adjustResize" />
    <service android:name=".FloatingTimerService" android:enabled="true" android:exported="false" />
</application>